.mainRightComp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageMainRightComp {
    display: flex;
    width: 48vw;
    justify-content: center;
}
