.colorcircle{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.7vw;
    align-items: center;
    font-weight: 600;
    font-family: Roboto;
}
.noteitem{
    display: flex;
    border-radius: 13px;
    height: 10vh;
    align-items: center;
    cursor: pointer;
}

@media(min-width: 768px){
    .noteitem{
        height: 12vh;
        padding-left: 5vw;
    }
}
