.colorcircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 22px;
    align-items: center;
    font-weight: 600;
    font-family: Roboto;
    margin-left: 60px;
}
.noteitem{
    display: flex;
    border-radius: 13px;
    height: 10vh;
    align-items: center;
}